.event-card {
    margin: 0;
    padding: 5px;
    border: 1px solid var(--neon-blue-color);
    cursor: pointer;
    transition: .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-card_active {
    background-color: #61dafb44;
}

.event-card:hover {
    background-color: #61dafb44;
}