.graphic__wrapper {
  width: 100%;
  height: 180px;
}

.graphic__wrapper_first {
  width: 100%;
  height: 240px;
}

.graphic__wrapper_last {
  width: 100%;
  height: 220px;
}

.graphic__wrapper rect,
.graphic__wrapper_first rect,
.graphic__wrapper_last rect {
  cursor: pointer !important;
}
