.toolbar {
  position: fixed;
  width: 100%;
  bottom: 60px;
}

.toolbar__container {
  transform: translateY(-50%);
  position: absolute;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
}
